{% extends 'job/base.html' %}
{% block body_block %}
<style>
    body
    {
        background-image: url('/static/job/xx.JPG');

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
    #btn{
        width: 80%;
        background-color:rgba(0,0,0,0.5);
        border: white solid 1px;
    }
    #btn:hover
    {
        background-color:rgba(0,0,0,0.7);
    }
</style>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" style="width: 50%; margin-left: 25%;" >
  {{message}}
</div>
{% endfor %}
{% endif %}
<div style="margin: auto; border:#333 1px solid; border-radius: 0.5em; padding:5%;width: 50%;margin-top: 8%;">
<h1 style="text-align: center;">Admin Login</h1>
<div style="width: 40%;margin: auto;">
    <form method="POST">
        {% csrf_token %}
        {{a_lform.as_p}}
        <button class="btn btn-info" type="submit" id="btn">Login</button>
    </form></div>
    <br>  Don't have an account yet? <a href="{% url 'admin_signup' %}">Sign Up</a>
  <br>  Forgot Password? <a href="{% url 'password_reset' %}">Reset Here</a>
</div>

{%  endblock %}




